@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
}

html {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

div.description {
  display: flex;
  width: 50%;
  margin: 10px auto;
  h2 {
    flex: 1;
    text-align: center;
  }
}

section.main {
  height: 80%;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

section.list {
  text-align: center;
  height: 95%;
  flex: 1;

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  ul {
    height: 100%;
    list-style: none;
    overflow-y: auto;
    li {
      white-space: nowrap;
    }
  }
}
article.detail {
  height: 95%;
  flex: 2;

  section.detail {
    height: 100%;
    text-align: center;
    h1 {
      font-size: 1.5rem;
      font-weight: 900;
    }
    ul {
      height: 95%;
      list-style: none;
      overflow-y: auto;
      li {
        white-space: nowrap;
        display: flex;
        span {
          flex: 1;
        }
      }
    }
  }
}

ul.finedust-list::-webkit-scrollbar {
  display: none;
}

div.main {
  font-size: 1.5rem;
  font-weight: 900;
}
