<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>광주광역시 광산구 미세먼지 현황</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link
      rel="stylesheet"
      href="../../static/css/once.css"
      th:href="@{/static/css/once.css}"
    />
    <script
      th:inline="javascript"
      src="../../static/js/once.js"
      th:src="@{/static/js/once.js}"
    ></script>
    <style>
      #map {
        height: 600px;
        width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <header class="main">광주광역시 광산구 미세먼지 현황</header>
    <div id="map"></div>
    <div>
      <h2>광산구 미세먼지 평균</h2>
      <table>
        <tr>
          <th>미세먼지(µg/m³)</th>
          <th>초미세먼지(µg/m³)</th>
          <th>CO2(ppm)</th>
          <th>습도(%)</th>
        </tr>
        <tr>
          <td th:text="${PM10}" class="PM10"></td>
          <td th:text="${PM2_5}" class="PM25"></td>
          <td th:text="${CO2}" class="CO2"></td>
          <td th:text="${HUMIDITY}" class="HUMIDITY"></td>
        </tr>
      </table>
    </div>
    <div class="back">
      <a th:href="@{/}">돌아가기</a>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script th:inline="javascript">
      var finedustList = /*[[${finedustList}]]*/ [];

      var finedustListParsed = JSON.parse(finedustList);

      var map = L.map("map").setView([35.1525803, 126.8111572], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      finedustListParsed.forEach(function (finedust) {
        var lat = parseFloat(finedust.LATITUDE);
        var lon = parseFloat(finedust.LONGITUDE);

        if (!isNaN(lat) && !isNaN(lon)) {
          var marker = L.marker([lat, lon]).addTo(map);
          marker.bindPopup(
            `<b>${finedust.place}</b><br>` +
              `미세먼지: ${finedust.PM10}<br>` +
              `초미세먼지: ${finedust.PM2_5}<br>` +
              `습도: ${finedust.HUMIDITY}<br>` +
              `측정시간: ${finedust.COLLECTION_DATE}`
          );
        } else {
          console.error("Invalid latitude or longitude for:", finedust);
        }
      });
    </script>
  </body>
</html>
